.card {
    border-radius: 15px;
    width: 18rem;
    box-shadow: 4px 6px 10px -3px #bfc9d4;
}

.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: contain;
    max-height: 200px;
}

.card-price {
    color: #008000;
    font-weight: 600;
}

.card-input {
    width: 100px;
    height: 35px;
    padding-left: 45px;
    border: 1.5px solid #c4c4c4;
    border-radius: 5px;
    margin-right: 10px;
}

.card-btn-add {
    height: 35px;
    width: 50px;
    border: 1.5px solid #c4c4c4;
    border-radius: 5px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;
   height: 35px;

}

