<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-10">
                    <h1 class="m-0">Home</h1>
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row layout-spacing justify-content-center">
                    <!-- card initial -->
                    <div *ngFor = "let produto of produtosAtivos" class="mt-3 m-2 d-flex justify-content-center">
                        <div class="card" style="width: 18rem;">
                            <img [src]="'http://localhost:8080/api/imagem/' + produto.imagem" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <div class="card-title w-100">
                                    <h5>{{produto.nome}}</h5>
                                </div>
                                <div>
                                    <p class="">{{produto.descricao}}</p>
                                </div>
                                <div>
                                    <h5 class="card-price">R$ {{produto.valorUnitario}} {{produto.unidadeMedida}}</h5>                                    
                                </div>
                                <form action="" class="d-flex justify-content-center mt-4">
                                    <div>
                                        <input [(ngModel)]="produto.qtdeEscolhida" twice name="quantidade" type="number" class="card-input" min="1" max="20">
                                    </div>
                                    <div>
                                        <button (click)="adicionaCarrinho(produto.codigo, produto.qtdeEscolhida)"  type="submit" class="card-btn-add">
                                            <i class="fas fa-cart-plus"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>