<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-10">
                    <h1 class="m-0">Home</h1>
                </div><!-- /.row -->
                <div class="ml-1">
                    <input type="submit" value="Enviar p/ Carrinho">
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row layout-spacing justify-content-center">
                    <!-- card initial -->
                    <div class="mt-3 m-2 d-flex justify-content-center">
                        <div class="card" style="width: 18rem;">
                            <img src="https://d3ugyf2ht6aenh.cloudfront.net/stores/746/397/products/banana_prata11-bb9a8816fe05fe206f15220284985229-320-0.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <div class="card-title w-100">
                                    <h5>BANANA CATURRA</h5>
                                </div>
                                <div>
                                    <p class="">Tem baixo teor de gordura, possui as Vitaminas A, B1 e B2, B</p>
                                </div>
                                <div>
                                    <h5 class="card-price">R$ 8,60 Kg</h5>
                                </div>
                                <div class="pt-3">
                                    <input type="number" min="0" class="card-input">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-3 m-2 d-flex justify-content-center">
                        <div class="card" style="width: 18rem;">
                            <img src="https://d3ugyf2ht6aenh.cloudfront.net/stores/746/397/products/banana_prata11-bb9a8816fe05fe206f15220284985229-320-0.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <div class="card-title w-100">
                                    <h5>BANANA CATURRA</h5>
                                </div>
                                <div>
                                    <p class="">Tem baixo teor de gordura, possui as Vitaminas A, B1 e B2, B</p>
                                </div>
                                <div>
                                    <h5 class="card-price">R$ 8,60 Kg</h5>
                                </div>
                                <div class="pt-3">
                                    <input type="number" min="0" class="card-input">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="mt-3 m-2 d-flex justify-content-center">
                        <div class="card" style="width: 18rem;">
                            <img src="https://d3ugyf2ht6aenh.cloudfront.net/stores/746/397/products/banana_prata11-bb9a8816fe05fe206f15220284985229-320-0.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <div class="card-title w-100">
                                    <h5>BANANA CATURRA</h5>
                                </div>
                                <div>
                                    <p class="">Tem baixo teor de gordura, possui as Vitaminas A, B1 e B2, B</p>
                                </div>
                                <div>
                                    <h5 class="card-price">R$ 8,60 Kg</h5>
                                </div>
                                <div class="pt-3">
                                    <input type="number" min="0" class="card-input">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="mt-3 m-2 d-flex justify-content-center">
                        <div class="card" style="width: 18rem;">
                            <img src="https://d3ugyf2ht6aenh.cloudfront.net/stores/746/397/products/banana_prata11-bb9a8816fe05fe206f15220284985229-320-0.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <div class="card-title w-100">
                                    <h5>BANANA CATURRA</h5>
                                </div>
                                <div>
                                    <p class="">Tem baixo teor de gordura, possui as Vitaminas A, B1 e B2, B</p>
                                </div>
                                <div>
                                    <h5 class="card-price">R$ 8,60 Kg</h5>
                                </div>
                                <div class="pt-3">
                                    <input type="number" min="0" class="card-input">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="mt-3 m-2 d-flex justify-content-center">
                        <div class="card" style="width: 18rem;">
                            <img src="https://d3ugyf2ht6aenh.cloudfront.net/stores/746/397/products/banana_prata11-bb9a8816fe05fe206f15220284985229-320-0.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <div class="card-title w-100">
                                    <h5>BANANA CATURRA</h5>
                                </div>
                                <div>
                                    <p class="">Tem baixo teor de gordura, possui as Vitaminas A, B1 e B2, B</p>
                                </div>
                                <div>
                                    <h5 class="card-price">R$ 8,60 Kg</h5>
                                </div>
                                <div class="pt-3">
                                    <input type="number" min="0" class="card-input">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-3 m-2 d-flex justify-content-center">
                        <div class="card" style="width: 18rem;">
                            <img src="https://d3ugyf2ht6aenh.cloudfront.net/stores/746/397/products/banana_prata11-bb9a8816fe05fe206f15220284985229-320-0.jpg" class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <div class="card-title w-100">
                                    <h5>BANANA CATURRA</h5>
                                </div>
                                <div>
                                    <p class="">Tem baixo teor de gordura, possui as Vitaminas A, B1 e B2, B</p>
                                </div>
                                <div>
                                    <h5 class="card-price">R$ 8,60 Kg</h5>
                                </div>
                                <div class="pt-3">
                                    <input type="number" min="0" class="card-input">
                                </div>
                            </div>
                        </div>
                    </div>


                    
                    
                    
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>