.title-cad-prod {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1px;
}

.btn-cad-prod {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}

.btn-cad {
    width: 120px;
    height: 40px;
    border-radius: 60px;
    border: none;
    background-color: #B6DD69;
    color: aliceblue;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-cad:hover {
    background-color: #6EBB00;
}

.required{
    color: red;
}

.content-wrapper {
    background-color: #fff;
}

.card {
    border-radius: 10px;
}

.card-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
