<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header mx-3 my-3">
        <div class="card card-success">
            <div class="card-header">
                <h2 class="title-cad-prod">Cadastar Produto</h2>
            </div>
            <div class="card-body">
                <form action="">
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Código</label>
                                <input type="text" name="codigo" class="form-control" placeholder="Insira o código ...">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Nome</label>
                                <input type="text" name="nome" class="form-control" placeholder="Insira o nome ...">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Preço</label>
                                <input type="text" name="nome" class="form-control" placeholder="R$">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label>Unidade de Medida</label>
                            <div class="form-group">
                                <select class="custom-select form-control-border" id="exampleSelectBorder">
                                    <option>Kg</option>
                                    <option>Un</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label>Indisponível / Disponível</label>
                            <div class="form-group">
                                <select class="custom-select form-control-border" id="exampleSelectBorder">
                                    <option>Disponível</option>
                                    <option>Indisponível</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <!-- textarea -->
                            <div class="form-group">
                              <label>Descrição</label>
                              <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label>Adicione a imagem do produto:</label>
                            <input type="file" id="myfile" name="myfile">
                        </div>
                    </div>
                    <div class="btn-cad-prod">
                        <input type="submit" value="Cadastar">
                    </div>
                </form>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.content-wrapper -->
</div>