<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 text-center justify-content-center">
                <div class="col-sm-10">
                    <h1 class="mx-2 mb-2">Pedido Confirmado</h1>
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="mx-2 mt-4 pb-4 invoice-infos">
                    <div class="text-center py-2 d-flex justify-content-center">
                        <i class="fas fa-receipt mr-2" style="font-size: 1.5rem;"></i>
                        <h5 class="m-0">Informações do Pedido</h5>
                    </div>
                    <hr>
                    <div class="mx-3">
                        <div class="d-flex w-100 justify-content-between">
                            <div class="d-flex align-items-center">
                                <h6 class="pr-2 mb-0">Código:</h6>
                                <p class="mb-0">562565</p>
                            </div>
                            <div class="d-flex align-items-center">
                                <h6 class="pr-2 mb-0">Data & Hora:</h6>
                                <p class="mb-0">23/11/2021 16:37:05</p>
                            </div>
                        </div>
                    </div>
                    <div class="mx-3 d-flex align-items-center">
                        <h6 class="pr-2 mb-0">Cliente:</h6>
                        <p class="mb-0">Joãozinho da Silva</p>
                    </div>
                    <div class="mx-3 d-flex align-items-center">
                        <h6 class="pr-2 mb-0">Quantidade de Items:</h6>
                        <p class="mb-0">12</p>
                    </div>
                    <div class="mx-3 d-flex align-items-center">
                        <h6 class="pr-2 mb-0">Total:</h6>
                        <p class="mb-0">R$ 67,99</p>
                    </div>
                    <div class="mx-3 d-flex align-items-center">
                        <h6 class="pr-2 mb-0">Forma de Pagamento:</h6>
                        <p class="mb-0">Cartão de Crédito</p>
                    </div>
                    <div class="mx-3 d-flex align-items-center">
                        <h6 class="pr-2 mb-0">Status:</h6>
                        <p class="mb-0">Pago</p>
                    </div>
                    <div class="mx-3 d-flex align-items-center">
                        <h6 class="pr-2 mb-0">Endereço:</h6>
                        <p class="mb-0">Rua Emma Tribess, 100 - Tribess, Blumenau/SC - Apto 503</p>
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
        </div>