<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-4">
                <div class="col-sm-6">
                    <h1 class="m-0">Consultar Cliente</h1>
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <div class="card mx-2">
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead class="text-center">
                        <tr>
                            <th style="width: 5%" >
                                Tipo
                            </th>
                            <th style="width: 15%">
                                Documento
                            </th>
                            <th style="width: 20%">
                                Nome
                            </th>
                            <th style="width: 15%">
                                Telefone
                            </th>
                            <th style="width: 15%">
                                Opções
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr *ngFor = "let cliente of clientes">
                            <td>
                                P{{cliente.tipo}}
                            </td>
                            <td>
                                {{cliente.documento}}
                            </td>
                            <td>
                                {{cliente.nome}}
                            </td>
                            <td>
                                {{cliente.telefone}}
                            </td>
                            <td class="project-actions text-center">
                                <button (click)="irModalEditar(cliente.documento)" type="button" class="btn btn-info btn-sm mr-2" data-toggle="modal"
                                    data-target="#editCliModal" >
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </button>
                                <button (click)="irModalExcluir(cliente.documento)"  type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                    data-target="#delCliModal">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
    <!-- /.content-wrapper -->
</div>

<!-- Modal Edit Clients-->
<div class="modal fade" id="editCliModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info m-0">
                <h5 class="modal-title" id="exampleModalLabel">Informações do Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleSelectBorder">PF / PJ</label>
                    <select [(ngModel)]="cliente.tipo" name="tipo" class="custom-select form-control-border" id="exampleSelectBorder">
                        <option value="F">Pessoa Física </option> 
                        <option value="J">Pessoa Jurídica</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Documento</label>
                    <input type="text" name="documento" class="form-control" value="cliente.documento" [(ngModel)]="cliente.documento">
                </div>
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" name="nome" class="form-control" [(ngModel)]="cliente.nome">
                </div>
                <div class="form-group">
                    <label>Telefone</label>
                    <input type="tel" name="telefone" class="form-control" [(ngModel)]="cliente.telefone">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary"  (click)="Editar()" data-dismiss="modal">Salvar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete Clients-->
<div class="modal fade" id="delCliModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title" id="exampleModalLabel">Tem certeza que deseja deletar?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>As Informações não poderão ser recuperadas</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="Excluir()" data-dismiss="modal"> Deletar</button>
            </div>
        </div>
    </div>
</div>