.content-wrapper {
    background-color: #fff;
}

.card {
    border-radius: 10px;
}

.btn-info {
    border: none;
    background-color:rgb(39, 189, 235) !important;
}

.btn-danger {
    border: none;
    background-color:rgba(236, 71, 71, 0.945) !important;
}