.content-wrapper {
    background-color: #fff;
}

.card {
    border-radius: 10px;
}

.btn-info {
    border: none;
    background-color:rgb(39, 189, 235) !important;
}

.btn-danger {
    border: none;
    background-color:rgba(236, 71, 71, 0.945) !important;
}

.badge-success {
    border: none;
    background-color:rgba(95, 209, 80, 0.945) !important;
}

.badge-danger {
    border: none;
    background-color:rgba(250, 59, 59, 0.945) !important;
}

.modal-title {
    margin-left: 90px;
}

.bg-info {
    background-color: #F8AC55 !important;
}

.bg-danger {
    background-color:rgba(250, 59, 59, 0.945) !important;
}