<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-4">
                <div class="col-sm-6">
                    <h1 class="m-0">Consultar Produto</h1>
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <div class="card mx-2">
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead class="text-center">
                        <tr>
                            <th style="width: 5%">
                                Código
                            </th>
                            <th style="width: 20%">
                                Produto
                            </th>
                            <th style="width: 10%">
                                Unidade
                            </th>
                            <th style="width: 10%">
                                Preço
                            </th>
                            <th style="width: 15%">
                                Status
                            </th>
                            <th style="width: 15%">
                                Opções
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td>
                                2359785
                            </td>
                            <td>
                                Banana Sla oq
                            </td>
                            <td>
                                Kg
                            </td>
                            <td>
                                R$ 8,90
                            </td>
                            <td class="project-state">
                                <span class="badge badge-success py-2">Disponível</span>
                            </td>
                            <td class="project-actions text-right">
                                <button type="button" class="btn btn-info btn-sm mr-2" data-toggle="modal"
                                    data-target="#editProdModal">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </button>
                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                    data-target="#delProdModal">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                957594
                            </td>
                            <td>
                                Uva
                            </td>
                            <td>
                                Kg
                            </td>
                            <td>
                                R$ 5,90
                            </td>
                            <td class="project-state">
                                <span class="badge badge-danger py-2">Indisponível</span>
                            </td>
                            <td class="project-actions text-right">
                                <button type="button" class="btn btn-info btn-sm mr-2" data-toggle="modal"
                                    data-target="#editProdModal">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </button>
                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                    data-target="#delProdModal">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.content-wrapper -->
</div>
<!-- Modal Edit Product-->
<div class="modal fade" id="editProdModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Informações do Produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete Product-->
<div class="modal fade" id="delProdModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tem certeza que deseka del?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>