<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-4">
                <div class="col-sm-6">
                    <h1 class="m-0">Consultar Produto</h1>
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <div class="card mx-2">
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead class="text-center">
                        <tr>
                            <th style="width: 5%" >
                                Código
                            </th>
                            <th style="width: 20%">
                                Produto
                            </th>
                            <th style="width: 10%">
                                Unidade
                            </th>
                            <th style="width: 10%">
                                Preço
                            </th>
                            <th style="width: 15%">
                                Status
                            </th>
                            <th style="width: 15%">
                                Opções
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td>
                                2359785
                            </td>
                            <td>
                                Banana Sla oq
                            </td>
                            <td>
                                Kg
                            </td>
                            <td>
                                R$ 8,90
                            </td>
                            <td class="project-state">
                                <span class="badge badge-success py-2">Disponível</span>
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-info btn-sm mr-2" href="#">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </a>
                                <a class="btn btn-danger btn-sm" href="#">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                957594
                            </td>
                            <td>
                                Uva
                            </td>
                            <td>
                                Kg
                            </td>
                            <td>
                                R$ 5,90
                            </td>
                            <td class="project-state">
                                <span class="badge badge-danger py-2">Indisponível</span>
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-info btn-sm mr-2" href="#">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </a>
                                <a class="btn btn-danger btn-sm" href="#">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.content-wrapper -->
</div>