.title-cad-prod {
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1px;
}

.btn-cad-prod {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 15px;
}

.content-wrapper {
    background-color: #fff;
}

.card {
    border-radius: 15px;
}

.card-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #B6DD69;
}