nav{
    position: sticky;
    top: 0;
    background-color: #DF7700;
}

.fa-bars {
    color: aliceblue;
    font-size: 1.2rem;
}

.fa-shopping-cart {
    color: aliceblue;
    font-size: 1.2rem;
}
.items{
    width: 20px;
    height: 20px;
    color: #FFF;
    background-color: #000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    margin-left: 4px;
}